*{margin: 0; padding: 0; border: none; outline: none; box-sizing: border-box;}
img {max-width: 100%;}
body {
    background-image: radial-gradient(#fff174, #ffdc3d, red);
    height: 100vh;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19px;
    color: #111;
    position: relative;
    overflow-x: hidden;
}

.hide {
    display: none !important; 
}
.logo {
    width: 20vw;
    min-width: 310px;
    margin-top: 50px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
}
h1 span {
    color: #BF331D;
}
h3 {
    font-size: 2em;
}
button {
    cursor: pointer;
    font-size: 2em;
    padding: 15px 70px;
    margin: 10px;
    border-radius: 15px;
    border: 4px solid #BF331D;
    background-color: #BF331D;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: .3s ease-in-out;
}
button:hover {
    background-color: rgb(252, 133, 22);
    border: 4px solid #BF331D;
}
button:active {
    background-color: #5a1106;
    border: 4px solid #5a1106;
    transition: none;
}
.presentacion {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 40px auto;
    position: relative;
}
.presentacion div {
    width: 40%;
    min-width: 320px;
}
.imgJuego {
    width: 500px;
    height: 500px;
    margin: 40px auto;
    background-repeat: no-repeat;
    background-size: 0%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}
.cuentaAtras {
    font-size: 0em;
}
.showCuentaAtras {
    animation: showCuentaAtras .3s ease-in-out  1 normal forwards;
}
@keyframes showCuentaAtras {
    from {
        font-size: 0em;
    }
    to {
        font-size: 15em;
    }
}
.result {
    position: absolute;
    top: 28%;
    left: 50%;
    width: 20%;
    min-width: 320px;
    font-size: 2em;
}
.youWin {
    position: relative;
    left: -50%;
    border: 3px solid #BF331D;
    border-radius: 15px;
    background-color: #fff;
    color: #BF331D;
}
.youLose {
    position: relative;
    left: -50%;
    border: 3px solid #BF331D;
    border-radius: 15px;
    background-color: #BF331D;
    color: #fff;
}
.draw {
    position: relative;
    left: -50%;
    border: 3px solid #5a1106;
    border-radius: 15px;
    background-color: #5a1106;
    color: #fff;
}

.score {
    margin-top: 10px;
    font-size: 1.5rem;
}

footer {
    padding-top: 40px;
    font-size: 1rem;
    position: fixed;
    bottom: 10px;
    right: 30px;
}

@media (max-width: 1450px) {
    .result {
        top: 33%;
    }
}
@media (max-width: 900px) {
    body {
        font-size: 15px;
    }
    .logo {
        margin-top: 30px;
    }
    .imgJuego {
        width: 400px;
        height: 400px;
        margin: 20px auto;
    }
}
@media (max-width: 550px) {
    body {
        font-size: 12px;
    }
    h1 {
        margin-bottom: 20px;
    }
    .logo {
        margin-top: 10px;
    }
    .imgJuego {
        width: 300px;
        height: 300px;
        margin: 10px auto;
    }
    .result {
        top: 26%;
    }
    footer {
        padding: 10px;
        position: unset;
    }
}
@media (max-width: 450px) {
    .result {
        top: 29%;
    }
}